body {
    display: flex;
    background-color: rgb(255, 239, 213);
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    gap: 5px;
    
}




#container {
    width: 1600px;
    max-height: 858px;
    display: flex;
    flex-direction: column;
    
}


.playing {
    background-color: gold;
}


button {
    width: 70px;
    height: 55px;
    color: black;
    font-weight: 900;
    font-size: 15px;
    box-shadow: 1px;
    border-radius: 10px; 
    border-style: 4px solid transparent;
}


.buttongroup {
    display: flex;
    flex-direction: column;
    gap: 5px;

    
    
}

#black {
    color: white;
}


.select {
    transform: scale(1.2);
    border-color: #209467;
    box-shadow: 0 0 1rem #209467;
    
    
}


.select2 {
    transform: scale(1.2);
    border-color: crimson;
    box-shadow: 0 0 1rem crimson;
    
    
}


.whoops {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



div.hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 55px;
    color: black;
    font-weight: 900;
    font-size: 15px;
    box-shadow: 1px;
    border-radius: 10px;
    border-style: 4px solid transparent;
    background-color: goldenrod;
    border-style: dotted;
}




#Trail {
    margin-top: 50px;
    z-index: 1;
}

#Hover {
    z-index: 1;
}



.tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
  
    position: absolute;
    z-index: 1;
    bottom: -80%;
    left: -10%;
    margin-left: 120px;
  
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 20px;
  }
  
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
