body {
    display: flex;
    background-color: rgb(255, 239, 213);
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    gap: 5px;
    
}




#container {
    width: 1600px;
    max-height: 858px;
    display: flex;
    flex-direction: column;
    
}


.playing {
    background-color: gold;
}


button {
    width: 70px;
    height: 55px;
    color: black;
    font-weight: 900;
    font-size: 15px;
    box-shadow: 1px;
    border-radius: 10px; 
    border-style: 4px solid transparent;
}


.buttongroup {
    display: flex;
    flex-direction: column;
    gap: 5px;

    
    
}

#black {
    color: white;
}


.select {
    transform: scale(1.2);
    border-color: #209467;
    box-shadow: 0 0 1rem #209467;
}